#outer{
    border: 2px solid black;
    height: 50vh;
    width: 70vw;
    margin: 100px 150px;
    background-color: blanchedalmond;
    

}
#inner{
    border: 2px solid gray;
    height: 30vh;
    width: 65vw;
    margin: 36px;
    background-color:cadetblue
}
div{
    border: 1px solid gray;
    height: 10vh;
    width: 10vw;
    float: left;
    margin: 10px;
    background-color: white;
}